@model IEnumerable<ebayforcars.Models.Bid>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bid1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Auction.Auction1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.LastName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bid1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Auction.Auction1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.LastName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Bid_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Bid_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Bid_ID })
        </td>
    </tr>
}

</table>
